<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lingua Franca Traduction</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <h1><span class="title">Lingua Franca</span> Traduction</h1>
    </header>

    <main>
        <div class="lang-select">
            <div class="left">
                <span class="active">Détecter la langue</span>
                <span class="active">Anglais</span>
                <span class="active">Français</span>
                <span class="active">Arabe</span>
            </div>
            <div class="right">
                <span class="active">Français</span>
                <span class="active">Anglais</span>
                <span class="active">Arabe</span>
            </div>
        </div>

        <div class="translation-boxes">
            <textarea placeholder="Entrez du texte ici..."></textarea>
            <div class="output">
                <p>Traduction</p>
            </div>
        </div>
    </main>

    <footer>
        <div class="foot">
            <p>&copy; 2025 Copyright by Rayanne, Kylliann, Axel. Tout droits réservés.</p>
        </div>
    </footer>

</body>

</html>