* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  padding: 1rem;
}

h1 {
  font-size: 2em;
  margin-bottom: 3rem;
}

.title {
  color: #4285f4;
}

.lang-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.1em;
  color: #555;
}

.lang-select .left,
.lang-select .right {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.lang-select .active:hover {
  border-bottom: 2px solid #1a73e8;
  color: #1a73e8;
}

.translation-boxes {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

textarea {
  width: 48%;
  min-height: 150px;
  padding: 15px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  resize: vertical;
  font-size: 1em;
}

.output {
  width: 48%;
  min-height: 150px;
  background-color: #f1f3f4;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 15px;
  font-size: 1em;
  color: #444;
}


@media (max-width: 768px) {
  .translation-boxes {
    flex-direction: column;
  }

  textarea,
  .output {
    width: 100%;
  }
}

.foot {
  margin-top: 7rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
}